# Built application files
build/
*.pyc

# Local configuration file (sdk path, etc)
local.properties
app/code/arx/conf.json

# Signing files
.signing/

# User-specific configurations
.idea/
*.iml

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

