{% extends "layout.html" %}

{% block body %}

    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="./">Anonymization Tool</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="./"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-book"></span> Tutorials</a></li>
                </ul>
            </div>
        </nav>
        <ul class="nav nav-tabs nav-justified">
            <li><a href="./import.html"><span class="glyphicon glyphicon-upload"></span> Import Dataset</a></li>
            <li class="active"><a href="./anonymize.html"><span class="glyphicon glyphicon-eye-close"></span> Anonymize Attributes</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Preview Dataset</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-download"></span> Export Dataset</a></li>
        </ul>
        <div class="page-header">
            <h1>Annonymize Attributes</h1>
        </div>
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Which database attributes are identifying?</div>
                <div class="panel-body">
                    <div class="form-group attrList"></div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Which database attributes are insensitive?</div>
                <div class="panel-body">
                    <div class="form-group attrList"></div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Which database attributes are sensitive?</div>
                <div class="panel-body">
                    <div class="form-group attrList"></div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Select a level of k.</div>
                <div class="panel-body">
                    <div class="form-group">
                        <select class="form-control" id="klevel" style="width: 100px">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id="navigation"></div>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
    <script type="text/javascript">  

        //Retrieve stored attributes from backend.
        var attributes = [];
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.getJSON($SCRIPT_ROOT + '/_python2array', function(data){
            attributes = data.result

            // Print attributes
            var html = '';
            for(var attr in attributes) {
                html += '<div class=\"checkbox\">\r\n';
                html += '<label><input type=\"checkbox\" value=\"\">' + attributes[attr] + '</label>\r\n</div>';
            }
        
            console.log(html);
            $('.attrList').html(html);
            // Add next button
            $('#navigation').html('<ul class=\"pager\"><li class=\"previous\"><a href=\"./import.html\">Back</a></li><li class=\"next\"><a href=\"./suppression.html\">Next</a></li></ul>');
            console.log(attributes)
         });

        // Pass user input to backend
        function submit() { 
            var suppressedAttr = {};
            for(var attr in attributes) {
                var boxID = "all" + attributes[attr];

                if(document.getElementById(boxID).checked || $('#'+ attributes[attr]).val() != "") {
                    var key = attributes[attr];
                    var value = "";
                    if($('#'+ attributes[attr]).val() > 0) {
                        value = $('#'+ attributes[attr]).val();
                    } 
                    if (document.getElementById(boxID).checked) {
                        value = "all";
                    }
                    suppressedAttr[key] = value;
                    console.log("key: " + key);
                    console.log("value: " + value);
                }
            }
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT + '/_suppression2python', {
                suppressedAttr: JSON.stringify(suppressedAttr)

            }, function(data){
                console.log(data.result)
            });
        }

        </script>

{% endblock %}