{% extends "layout.html" %}

{% block body %}

    <div class="container">
        <nav class="navbar navbar-inverse">
                <div class="container">
                <a class="navbar-brand float-left" href="./">
                    <img src="/static/img/name-logo.png" width="150px" class="d-inline-block align-top" alt="">
                </a>
                <ul class="nav navbar-nav navbar-right">
                      <li><a href="./"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                      <li><a href="/static/tutorials.pdf"><span class="glyphicon glyphicon-book"></span> Tutorials</a></li>
                </ul>
            </div>
        </nav>
        <ul class="nav nav-tabs nav-justified">
            <li><a href="./import.html"><span class="glyphicon glyphicon-upload"></span> Import Dataset</a></li>
            <li class="active"><a href="./anonymize.html"><span class="glyphicon glyphicon-eye-close"></span> Anonymize Attributes</a></li>
            <li><a href="./results.html"><span class="glyphicon glyphicon-list-alt"></span> Preview Dataset</a></li>
            <li><a href="./export.html"><span class="glyphicon glyphicon-download"></span> Export Dataset</a></li>
        </ul>
        <div class="page-header">
            <h1>2. Annonymize Attributes</h1>
        </div>
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Specify whether each attribute is a quasi-identifier or sensitive. There are additional categorizations for quasi-identifiers that are zip codes or ages.</div>
                <div class="panel-body">
                    <div class="form-group" id="attrList"></div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Select a level of k.</div>
                <div class="panel-body">
                    <div class="form-group">
                        <select class="form-control" id="klevel" style="width: 100px">
                            <option value ="1">1</option>
                            <option value ="2">2</option>
                            <option value ="3">3</option>
                            <option value ="4">4</option>
                            <option value ="5">5</option>
                            <option value ="6">6</option>
                            <option value ="7">7</option>
                            <option value ="8">8</option>
                            <option value ="9">9</option>
                            <option value ="10">10</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id="navigation">
            <ul class="pager">
                <li class="previous"><a href="./import.html">Back</a></li>
                <li class="next"><a onclick="submit()">Next</a></li>
            </ul>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
        </div>
    </footer>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/categorize_attr.js"></script>

{% endblock %}