{% extends "layout.html" %}

{% block body %}

    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="./">Anonymization Tool</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="./"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-book"></span> Tutorials</a></li>
                </ul>
            </div>
        </nav>
        <ul class="nav nav-tabs nav-justified">
            <li><a href="./import.html"><span class="glyphicon glyphicon-upload"></span> Import Dataset</a></li>
            <li class="active"><a href="./anonymize.html"><span class="glyphicon glyphicon-eye-close"></span> Anonymize Attributes</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Preview Dataset</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-download"></span> Export Dataset</a></li>
        </ul>
        <div class="page-header">
            <h1>2. Annonymize Attributes</h1>
        </div>
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Categorize each attribute as identifying, insensitive, or sensitive.</div>
                <div class="panel-body">
                    <div class="form-group" id="attrList"></div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Select a level of k.</div>
                <div class="panel-body">
                    <div class="form-group">
                        <select class="form-control" id="klevel" style="width: 100px">
                            <option value ="1">1</option>
                            <option value ="2">2</option>
                            <option value ="3">3</option>
                            <option value ="4">4</option>
                            <option value ="5">5</option>
                            <option value ="6">6</option>
                            <option value ="7">7</option>
                            <option value ="8">8</option>
                            <option value ="9">9</option>
                            <option value ="10">10</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id="navigation"></div>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
    <script type="text/javascript">  

        //Retrieve stored attributes from backend.
        var attributes = [];
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.getJSON($SCRIPT_ROOT + '/_python2array', function(data){
            attributes = data.result;

            // Print attributes
            var html = '<form><tbody>';
      
            for(var attr in attributes) {
                html += '<tr>\r\n';
                html += '<td>' + attributes[attr] + '</td>\r\n<td><select class=\"form-control\" id=\"' + attributes[attr] + '\" style=\"width: 300px\">\r\n<option value=\"identifying\">Identifying</option>\r\n<option value=\"sensitive\">Sensitive</option>\r\n<option value=\"age\">Age</option>\r\n<option value=\"zip\">Zip</option>\r\n</select></td>\r\n';
                html += '</tr>\r\n<br>';
            }
            html += '</tbody></form>';
        
            console.log(html);
            $('#attrList').html(html);
            // Add next button
            $('#navigation').html('<ul class=\"pager\"><li class=\"previous\"><a href=\"./import.html\">Back</a></li><li class=\"next\"><a href=\"\" onclick=\"submit()\">Next</a></li></ul>');
            console.log(attributes)
         });

        // Pass user input to backend
        function submit() { 
            var attrCategorization = {};
            var identifyingAttr = [];
            var sensitiveAttr = [];
            var insensitiveAttr = [];
            var age = [];
            var zip = [];
            var klevel = document.getElementById("klevel").value;
            for (var attr in attributes) {
                var selection = document.getElementById(attributes[attr]).value;
                
                if (selection == 'identifying') {
                    identifyingAttr.push(attributes[attr]);
                } 

                if (selection == 'sensitive') {
                    sensitiveAttr.push(attributes[attr]);
                }

                if (selection == 'insensitive') {
                    insensitiveAttr.push(attributes[attr]);
                }

                if (selection == 'age') {
                    age.push(attributes[attr]);
                }

                if (selection == 'zip') {
                    zip.push(attributes[attr]);
                }
            }

            attrCategorization["identifying"] = identifyingAttr;
            attrCategorization["sensitive"] = sensitiveAttr;
            attrCategorization["insensitive"] = insensitiveAttr;
            attrCategorization["age"] = age;
            attrCategorization["zip"] = zip;
            attrCategorization["k"] = klevel;

            console.log(klevel);

            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT + '/_categorization2python', {
                attrCategorization: JSON.stringify(attrCategorization)
            }, function(data){
                console.log(data.result)
            });
        }

        </script>

{% endblock %}