{% extends "layout.html" %}
<!--     <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Import Data</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
   
    </head> -->
{% block body %}
    <h1> Import Dataset </h1>
       <p> Select the CSV file for the dataset you want to anonymize. </p>
    <!--    	<button class="file-upload">            
    		<input type="file" class="file-input">Choose File 
        <input type="file" class="file-input" name="Upload" id="csvFileUpload" accept=".csv" /> -->
        <input type="file" name="Upload" id="csvFileUpload" accept=".csv" />
        <output id = "list">
        </output>
        <table id="contents" style="width:100%; height:400px;" border>
        </table>
        <div id="next">
        </div>
        <!-- </button> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
      
        <script type="text/javascript">  
            $(document).ready(function() {

            // The event listener for the file upload
            document.getElementById('csvFileUpload').addEventListener('change', upload, false);

            // Method that checks that the browser supports the HTML5 File API
            function browserSupportFileUpload() {
                var isCompatible = false;
                if (window.File && window.FileReader && window.FileList && window.Blob) {
                    isCompatible = true;
                }
                return isCompatible;
            }

            // Method that reads and processes the selected file
            function upload(evt) {
                if (!browserSupportFileUpload()) {
                    alert('The File APIs are not fully supported in this browser!');
                } else {
                        var data = null;
                        var file = evt.target.files[0];

                        // Ajax Post the file to the backend
                        var formData = new FormData();
                        formData.append('file', file);
                        $.ajax({
                               url : '/postcsv',
                               type : 'POST',
                               data : formData,
                               processData: false,  // tell jQuery not to process the data
                               contentType: false,  // tell jQuery not to set contentType
                               success : function(data) {
                                   console.log(data);
                               }
                        });

                        var attributes = null;
                        var reader = new FileReader();
                        reader.readAsText(file);
                        reader.onload = function(event) {
                            var csvData = event.target.result;
                            console.log("File contents: " + csvData);
                            data = $.csv.toArrays(csvData);
                            attributes = data[0];
                            console.log('Attributes: ' + attributes.toString());
                            
                            // Store attributes in backend.
                            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                            $.getJSON($SCRIPT_ROOT + '/_array2python', {
                                attributes: JSON.stringify(attributes)
                            }, function(data){
                                console.log(data.result)
                            });

                            // Print to console
                            if (data && data.length > 0) {
                              console.log('Imported -' + data.length + '- rows successfully!');
                            } else {
                                console.log('No data to import!');
                            }

                            // Print Data
                            var html = '';
                            for(var row in data) {
                                html += '<tr>\r\n';
                                for(var item in data[row]) {
                                    html += '<td>' + data[row][item] + '</td>\r\n';
                                }
                                html += '</tr>\r\n' ;
                            }
                            console.log(html);
                            $('#contents').html(html);

                            // Add next button
                            $('#next').html('<button type=\"button\" onclick=\"window.location.href=\'./suppression.html\'\">Next</button>');
                        };
                        reader.onerror = function() {
                            console.log('Unable to read ' + file.fileName);
                        };
                    }
            }
           // printTable(file);
           // $('#list').append(output);
        }); 
        </script>
{% endblock %}
