{% extends "layout.html" %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="./">Anonymization Tool</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="./"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-book"></span> Tutorials</a></li>
                </ul>
            </div>
        </nav>
        <ul class="nav nav-pills nav-justified">
            <li class="active"><a href="./import.html"><span class="glyphicon glyphicon-upload"></span> Import Dataset</a></li>
            <li><a href="./suppression.html"><span class="glyphicon glyphicon-eye-close"></span> Anonymize Attributes</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Preview Dataset</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-download"></span> Export Dataset</a></li>
        </ul>

        <div class="panel-group">
            <div class="panel panel-default" style="display: inline-block;">
                <div class="panel-heading">Import Dataset</div>
                <div class="panel-body">
                    <p> Select the CSV file for the dataset you want to anonymize. </p>
                    <div class="form-group">
                        <input type="file" name="Upload" id="csvFileUpload" accept=".csv" />
                    </div>
                    <table id="contents" class="table table-striped"></table>
                    <div id="navigation"></div>
                </div>
            </div>
        </div>
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      
        <script type="text/javascript">  
            $(document).ready(function() {

            // The event listener for the file upload
            document.getElementById('csvFileUpload').addEventListener('change', upload, false);

            // Method that checks that the browser supports the HTML5 File API
            function browserSupportFileUpload() {
                var isCompatible = false;
                if (window.File && window.FileReader && window.FileList && window.Blob) {
                    isCompatible = true;
                }
                return isCompatible;
            }

            // Method that reads and processes the selected file
            function upload(evt) {
                if (!browserSupportFileUpload()) {
                    alert('The File APIs are not fully supported in this browser!');
                } else {
                        var data = null;
                        var file = evt.target.files[0];

                        // Ajax Post the file to the backend
                        var formData = new FormData();
                        formData.append('file', file);
                        $.ajax({
                               url : '/postcsv',
                               type : 'POST',
                               data : formData,
                               processData: false,  // tell jQuery not to process the data
                               contentType: false,  // tell jQuery not to set contentType
                               success : function(data) {
                                   console.log(data);
                               }
                        });

                        var attributes = null;
                        var reader = new FileReader();
                        reader.readAsText(file);
                        reader.onload = function(event) {
                            var csvData = event.target.result;
                            console.log("File contents: " + csvData);
                            data = $.csv.toArrays(csvData);
                            attributes = data[0];
                            console.log('Attributes: ' + attributes.toString());
                            
                            // Store attributes in backend.
                            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                            $.getJSON($SCRIPT_ROOT + '/_array2python', {
                                attributes: JSON.stringify(attributes)
                            }, function(data){
                                console.log(data.result)
                            });

                            // Print to console
                            if (data && data.length > 0) {
                              console.log('Imported -' + data.length + '- rows successfully!');
                            } else {
                                console.log('No data to import!');
                            }

                            // Print Data
                            var html = '<thead>\r\n<tr>';
                            for(var cell in data[0]) {
                                html += '<th>' + data[0][cell] + '</th>\r\n'
                            }
                            html += '</tr>\r\n</thead>\r\n<tbody>'
                            
                            for(var row in data) {
                                if(row > 0 && row < 5) {
                                    html += '<tr>\r\n';
                                    for(var item in data[row]) {
                                        html += '<td>' + data[row][item] + '</td>\r\n';
                                    }
                                    html += '</tr>\r\n' ;
                                }
                            }
                            html += '</tbody>'
                            console.log(html);
                            $('#contents').html(html);

                            // Add previous & next buttons
                            $('#navigation').html('<ul class=\"pager\"><li class=\"previous\"><a href=\"./\">Back</a></li><li class=\"next\"><a href=\"./suppression.html\">Next</a></li></ul>');
                        };
                        reader.onerror = function() {
                            console.log('Unable to read ' + file.fileName);
                        };
                    }
            }
           // printTable(file);
           // $('#list').append(output);
        }); 
        </script>
    </div>
{% endblock %}
