{% extends "layout.html" %}

{% block body %}
	<nav class="navbar navbar-inverse">
		<div class="container">
		    <a class="navbar-brand float-right" href="#">
			    <img src="/static/img/name-logo.png" width="150px" class="d-inline-block align-top" alt="">
		  	</a>
	  	</div>
	</nav>
		<div class="homeBackground">
			<div class="container">
				<div class="homeText">
					<div class="row">
						<div class="col">
					  		<h1>Welcome to unKnown</h1>
					  	</div>
					</div>
					<div class="row">
				  		<div class="col-sm-5">
				  			<p> unKnown is a tool that will help anonymize your dataset using k-anonymity. Click "Get Started" to import your data and apply anonymization to your dataset locally.</p>
				  		</div>
				  	</div>
			  		<div class="row intro-buttons">
			  			<div class="col-sm-5">
					  		<a class="btn btn-outline-secondary intro-button" href="/import.html">Get Started</a>
						</div>
					</div>
				</div>
	  		</div>
  		</div>
  		<div class="container">
  			<div class="row home-buttons">
	 			<div class="col-md-6">
		 			<h2>About unKnown</h2>
		 			<p> unKnown was developed as a course project for 08-605: Engineering Privacy in Software at Carnegie Mellon University. During the development of the tool, the team collaborated with the Western Pennsylvania Data Center.</p>
		 			<a class="btn btn-outline-primary" href="https://github.com/hhabib/anonymization-tool">Source Code<a>
		 		</div>
		 		<div class="col-md-6">
		 			<h2>Tutorials</h2> 
		 			<p> View our tutorials to learn more about the theory behind k-anonymity, the requirements for running unKnown, and a step-by-step guide on how to anonymize your dataset.</p>
		 			<a class="btn btn-outline-primary" href="/tutorials.html">Tutorials</a>
		 		</div>
	 		</div>
 		</div>
  	<footer class="footer">
		<div class="container">
		</div>
    </footer>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
{% endblock %}