/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #4f4e4e;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #4f4e4e;
}


.navbar {
	border-radius: 0px;
	padding: 0px;
}

.navbar-right {
	margin-right: 20px;
}

.navbar-inverse {
    background-color: #38435C;
    border-color: #38435C;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-brand {
	padding-top: 4px;
}
.homeBackground {
	background-image: url("/static/img/frontpageimage.jpg");
	background-repeat: no-repeat;
	height: 500px;
	background-size: cover;
	background-position: center;
}

.homeText {
	padding-top: 150px;
}

.homeText h1{
	font-size: 52px;
	color: white;
}

.homeText p {
	color: white;
	font-size: 16px;
	font-weight: 200;
	margin-top: 20px;
}
.intro-buttons {
	margin-top: 2em;
}
.intro-button {
	color: white;
	border-color: white;
}

.introButton:hover {
	background: #e3e4e6;
	color: #4f4e4e;
}

.home-buttons {
	margin-top: 15px;
	padding-bottom: 20px;
	color: #4f4e4e;
}

.home-buttons h2 {
	padding-top: 10px;
}

.home-buttons h2 {
	padding-top: 10px;
}

.panel-primary {
    border-color: #38435c;
}

.panel-primary>.panel-heading {
	background-color: #38435c;
	border-color: #38435c;
}

a {
	color: #38435c;
}

h1 {
	color: #4f4e4e;
}

