/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #4f4e4e;
}


.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	padding: 0px;
}

.navbar-inverse {
    background-color: #38435C;
    border-color: #38435C;
}

.navbar-nav>li>a {
    padding-top: 0px; 
    padding-bottom: 0px; 
}

.homeBackground {
	background-image: url("/static/img/frontpageimage.jpg");
	background-repeat: no-repeat;
	height: 500px;
	background-size: cover;
	background-position: center;
}

.homeText {
	padding-top: 150px;
}

.homeText h1{
	font-size: 52px;
	color: white;
}

.homeText p {
	color: white;
	font-size: 16px;
	font-weight: 200;
	margin-top: 20px;
}
.intro-buttons {
	margin-top: 2em;
}
.intro-button {
	color: white;
	border-color: white;
}

.introButton:hover {
	background: #e3e4e6;
	color: #4f4e4e;
}

.home-buttons {
	margin-top: 15px;
	padding-bottom: 20px;
	color: #4f4e4e;
}

.home-buttons h2 {
	padding-top: 10px;
}

