html * {
   font-family: 'Source Sans Pro', 'Open Sans', sans-serif !important;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

.navbar-inverse {
    background-color: #38435C;
    border-color: #38435C;
}

.navbar-nav>li>a {
    padding-top: 0px; 
    padding-bottom: 0px; 
}

.homeBackground {
	background-image: url("/static/img/frontpageimage.jpg");
	background-repeat: no-repeat;
	height: 642px;
}

.homeText {
	padding-top: 150px;
	margin-left: 40px;
}

.homeText h1{
	font-size: 52px;
	color: white;
}

.homeText p {
	color: white;
	font-size: 16px;
	font-weight: 200;
	margin-top: 20px;
}

.introButton {
	margin-top: 45px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: transparent;
	font-size: 18px;
	color: white;
	font-weight: 100;
	border: 1px solid white;
}

.introButton:hover {
	background: #e3e4e6;
	color: #4f4e4e;
}

.homeBottom {
	color: #4f4e4e;
}

.bottomButton {
	margin-top: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: white;
	font-size: 14px;
	color: #39526d;
	font-weight: 300;
	border: 1px solid #39526d;
}

.bottomButton:hover {
	background: #e3e4e6;
}

footer {
	background: black;
}

